* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: mediumspringgreen;
  border: 4px solid green;
  height: 1060px;
}

.flex {
  display: flex;
}

.row {
  padding: 1%;
  gap: 1%;
  flex-direction: row;
  height: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex.center {
  height: 49%;
  width: 49.5%;
  flex-grow: 0;
  flex-direction: column;
  justify-content: space-between;
}

/* this selector selects all divs inside of .flex-container */
.first > div {
  height: 24%;
}

.first > .one, .row > .five {
  background-color: powderblue;
  border: 4px solid blue;
  width: 100%;
}

.row > .two.second, .center > .third {
  background-color: pink;
  border: 4px solid brown;
}

.row > .two.second {
  height: 49%;
  width: 49.5%;
}

.center > .third {
  flex-basis: 48%;
  width: 100%;
}

.first > .one {
  padding: 1.5%;
  justify-content: space-evenly;
}

.one > .third, .five > .third.two, .five > .third.three {
  background: peachpuff;
  border: 4px solid brown;
  flex-grow: 1;
}

.five {
  padding: 12px;
  gap: 8px;
  justify-content: space-around;
}

.five > .third {
  background-color: lavender;
  border: 4px solid blueviolet;
  flex-grow: 2;
}

.second.one {
  padding: 24px;
}

.second.one > .two {
  padding: 8px;
  justify-content: center;
  gap: 0%;
}

.fourth {
  background-color: pink;
  border: 4px solid red;
  flex-basis: 49%;
}